.App{
  display: grid;
  margin: auto;
  height: 100vh;
  margin: 1rem;
}
.Login{
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: auto;
  padding: 2rem;
  display: grid;
  gap: 1.5rem;
  width: 50%;
} 
.Login-title{
  text-align: center;
}
.Login-btns{
  display: flex;
  justify-content: space-between;
}