.App{
  display: grid;
  margin: auto;
  height: 100vh;
}
.Login{
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: auto;
  padding: 2rem;
  display: grid;
  gap: 1.5rem;
  width: 80%;
}
@media (min-width: 600px) {
  .Login{
    width: 400px;
  }
}
.Login-title{
  text-align: center;
}
.Login-btns{
  display: flex;
  justify-content: space-between;
}
.Home-title{
  text-align: center;
}
.Home-tasks{
  width: 500px;
  margin: 1rem auto;
}
.Todo{
  background-color: #ddd;
  margin-bottom: 0.8rem;
  padding-left: 0.8rem;
  border-radius: 3px;
}